<% provide(:title, t("homepage.text_title_home")) %>
<div class="center jumbotron">
  <h1><%= t "homepage.text_welcome" %></h1>
  <%= t "homepage.text_link_html" %>
  <%= link_to t("homepage.text_button_signup"), '#', class: "btn btn-lg btn-primary" %>
</div>
