<footer class="footer">
  <%= t "layout_footer.tag_small_html" %>
  <nav> <ul>
    <li><%= link_to t("layout_footer.text_button_contact"), '#' %></li>
    <li><%= link_to t("layout_footer.text_button_about"), '#' %></li>
    <li><a href="https://news.railstutorial.org/"><%= t("layout_footer.text_link_new")%></a></li>
  </ul> </nav>
</footer>
